Repository Layr-Labs/eigensdk-go, pull requests merged in 2025-02, with the labels that each got.

#483 ci: add job to enforce updates to the changelog
  .github/workflows/changelog.yml
  CHANGELOG.md
Labels: changelog-ignore

#458 test: `avsregistry` add new tests cases for reader methods
  chainio/clients/avsregistry/reader_test.go
  testutils/testclients/testclients.go
Labels: changelog-ignore

#575 fix: change PR url in Changelog workflow
  .github/workflows/changelog.yml
  CHANGELOG.md
Labels: changelog-ignore

#485 refactor: `bls_aggregation` use new struct `TaskMetadata`
  CHANGELOG.md
  services/bls_aggregation/blsagg.go
  services/bls_aggregation/blsagg_test.go
Labels: changelog-breaking

#487 refactor: `bls_aggregation` new struct `TaskSignature`
  CHANGELOG.md
  services/bls_aggregation/blsagg.go
  services/bls_aggregation/blsagg_test.go
Labels: changelog-breaking

#580 feat: add missing option to BuildAllConfig
  CHANGELOG.md
  chainio/clients/builder.go
Labels: changelog-added

#581 fix: propagate DontUseAllocationManager flag between builders configs
  CHANGELOG.md
  chainio/clients/avsregistry/builder.go
  chainio/clients/avsregistry/writer.go
  chainio/clients/builder.go
Labels: changelog-fixed
